@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
a, a:after, a:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  -moz-user-select: -moz-none;
}
input, textarea{ outline: none;line-height: normal; /* for non-ie */  　line-height: 22px\9; /* for ie */  }

body, article, section, h1, h2, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input {
    margin: 0;
    padding: 0;
}
a {
	color:#666666;
    cursor: pointer;
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
.fl{ float:left;}
.fr{ float:right;}
.clr{
	clear:both;
}
body {
    margin: 0;
    padding: 0;
	font-size:14px;
}

.top{ width:100%; height:55px; background:#2db1e1; line-height:55px;}
.top_title{ color:#fff; font-size:16px; font-weight:600; margin-left:20px}
.top_nav{ height:45px; margin:10px 0 0 100px}
.top_nav ul li{ width:98px; height:45px; line-height:35px; text-align:center; background:#2db1e1; color:#fff; float:left; margin-right:3px;}
.top_nav ul li a{ display:block; height:45px;  color:#fff; font-size:14px; font-weight:600; border-radius:5px 5px 0 0; }
.top_nav ul li a:hover{ background:#fff; color:#2db1e1}
.top_nav ul li.xuanzhong a{ background:#fff; color:#2db1e1}

.grzx{ margin-right:20px;}
.grzx .geren{ color:#d8f5ff; font-weight:600; font-size:14px;}
.tuichu{ color:#fff; font-weight:600;}
:hover.tuichu{ color:#d8f5ff}

.shuxian{ margin:0 10px;}

.lf_nav{ width:175px; position:absolute; background:#eaeaea; height:100%; position:absolute; left:0; z-index:999}
.lf_nav ul li{ height:40px; line-height:40px;border-bottom: 1px solid #ddd;box-shadow: 1px 1px #fff;}
.lf_nav ul li a i{ width:5px; height:5px; background:#0f1f2f; display:inline-block; margin-right:10px; color:#112e39}
.lf_nav ul li a{ text-indent:22px; display:block; height:40px; border-left:#f2f4f6 solid 5px;background:#f2f4f6; box-shadow: 1px 1px #fff;}
.lf_nav ul li a:hover{ background:#fff; border-left-color:#ffd801; color:#2db1e1; font-weight:600;}
.lf_nav ul li a:hover i{background:#ffd801; }

.lf_nav ul li.yxz a{ background:#fff; border-left-color:#ffd801; color:#2db1e1; font-weight:600;}
.lf_nav ul li.lf_nav_title{ height:52px; line-height:52px;}
.lf_nav ul li.yxz a i{ background:#ffd801; }
.lf_nav ul li.lf_nav_title a:hover{ background:none;border-left-color:#f2f4f6; color:#666666;}

.rt_cont{margin:0 25px 0 200px;}
.rt_cont_title{ font-size:22px; color:#0f1f2f; font-weight:600; height:70px; line-height:80px; border-bottom:#c9c9c9 solid 1px;}
.rt_cont_mat{ width:100%}
.rt_cont_date{font-weight: normal;margin-right: 10px;margin-top: 25px;}

.form{ background:#fcfcfc; border:#efeff0 solid 1px; margin-top:22px; padding:22px 0 23px;}
.lf_font{ width:90px; height:34px; line-height:34px; text-align:right; font-size:12px;}
.input input{ border:0; background: none;width:166px;}
.none input{width:20px;}
.none span{margin-right:20px;}
.input{ border:#e3e3e3 solid 1px;  font-size:12px; padding:9px 5px 8px;  background:#fff}
.form table tr td{ padding:6px 0; height:30px; }
.select{}
.duanxian{ line-height:30px; margin:0 5px;}
.riqi{ display:inline-block; background:url(../images_qhht/icon.png) 0 0 no-repeat; width:18px; height:17px; vertical-align:bottom}

.xuankang{ display:inline-block; vertical-align:middle; margin-right:5px;}

.xuankang input[type=checkbox],
.xuankang input[type=radio]{
/* -webkit-appearance: none; */
appearance: none;
width: 13px;
height: 13px;
margin: 0;
cursor: pointer;
vertical-align: bottom;
background: #fff;
border: 1px solid #acacac;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
}
.xuankang input[type=checkbox]:hover {
border-color: #c6c6c6;
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}
.xuankang input[type=checkbox]:checked,
.xuankang input[type=radio]:checked {
background: #fff;
}
.xuankang input[type=checkbox]:checked::after {
content: url(../images_qhht/gg_02.png)0 0 no-repeat; width:12px; height:8px;
display: block;
position: absolute;
top: 2px;
right: 0px;
left: 1px
}

.checkbox{ padding:11px 0 8px}
.mhss{ margin-right:14px; width:77px}
.mhss0{ margin-right:14px; width:75px}

.search{ width:74px; height:34px; text-align:center; line-height:34px; background:#2db1e1; color:#fff; font-size:12px; font-weight:600; display: inline-block}
.remove{ width:74px; height:34px; text-align:center; line-height:34px; background:#dfdfdf; color:#000; font-size:12px; font-weight:600; display: inline-block}
:hover.search{ background:#1f8cb3;}
:hover.remove{ background:#b9b9b9;}

.yhlb table{border-collapse:collapse;border:none;}
.yhlb table tr td{border: solid 1px #e3e3e3; height:30px; line-height:30px; text-align:right; padding:0 5px; font-size:12px;}
.yhlb table tr th{border: solid 1px #e3e3e3; height:30px; line-height:30px; text-align:right; padding:0 5px; font-size:12px;}

.yhlb_title{ height:38px; line-height:38px; background:#edf4f6; text-indent:10px; margin-top:25px; font-weight:600}

.yhlb table tr td.num{ text-align:center}

.fc_top_font{ padding-left:15px;}
.fuchen{ width:525px; margin:0 auto; background:#fff; padding-bottom:37px;}
.fc_top{ width:100%; height:35px; line-height:35px; background:#2db1e1; color:#fff; margin-bottom:20px;}
.close{ background:url(../images_qhht/icon.png) -18px 0 no-repeat; width:16px; height:16px; display:block; margin:9px 10px 0 0}
:hover.close{ background:url(../images_qhht/icon.png) -34px 0 no-repeat; }

.sure{ width:140px; height:35px; line-height:35px; text-align:center; background:#28bd8b; display:block; font-size:14px; font-weight:600; color:#fff}
.sure{ width:140px; height:35px; line-height:35px; text-align:center; background:#2db1e1; display:block; font-size:14px; font-weight:600; color:#fff; margin:0 10px;}
:hover.sure{ background:#1d92bc;}
.cancel{ width:140px; height:35px; line-height:35px; text-align:center; background:#a8a8a8; display:block; font-size:14px; font-weight:600; color:#fff; margin:0 10px;}
:hover.cancel{ background:#787878;}
.but{ width:324px; margin:40px auto}
.none{ border:0; padding:0; line-height:34px; height:34px}
.form_cont0 .lf_font{ width:125px}
.select select{ height:34px; width:290px; border-color:#e3e3e3}

.dl_cont{ width:300px; border:#e4e3e4 solid 3px; border-radius:3px; background:#fff; margin:130px 40px 0 0;}
.dl_title{ padding:25px 0 0 20px; }

.load_bd{width:250px;border:#c4c4c4 solid 1px; border-radius:0px; margin:15px auto}
.load_bd_cont input{ border:0;width:200px; background:none; padding:10px 0; }
.zh{background:url(../images_qhht/icon.png) -51px 0 no-repeat; width:17px; height:23px; display: inline-block; margin:6px 10px;}
.mm{background:url(../images_qhht/icon.png) -68px 0 no-repeat; width:17px; height:23px; display: inline-block; margin:6px 10px;}
.dl_cont0{ font-size:12px;}
.dl_cont0 input{ font-size:12px; vertical-align:middle; margin-right:3px;}
.wjmm{ color:#006c86; margin-left:20px;}
:hover.wjmm{ text-decoration:underline}
.dl_but{ width:260px; height:34px; text-align:center; line-height:34px; background:#2db1e1; display:block; color:#fff; border:0; font-weight:700; margin:18px 0 10px 21px; cursor:pointer; font-size:16px;}
:hover.dl_but{ background:#2499c4}
.myzc{ font-size:12px; margin:20px 0 24px 0;}
.myzc a{ color:#006c86;}
.myzc a:hover{ text-decoration:underline}
.myzc span{ margin-left:20px;}
.cwxt_cont{ width:1000px; margin:0 auto}
.load_bd0{ margin-top:10px;}

.denglu_banener{ background:url(../images_qhht/denglu_02.gif) center no-repeat; width:100%; height:567px;}

.top2_cont{ width:1000px; margin:0 auto 14px; padding-top:14px;}
.dlzc a{ display:inline-block; height:33px; width:80px; text-align:center;background:#d11111; line-height:33px; border:#e6e6e6 solid 1px; font-size:14px; color:#fff; margin-top:10px;}
.dlzc a.dl{ border-right:0; background:#fff;color:#d11111}
.dlzc a:hover{ text-decoration:underline;}


.fanye a{ float:left; border:#e1e1e1 solid 1px; border-right:0; width:24px; height:24px; display:block; text-align:center; line-height:24px; font-size:12px;} 
.fanye a.zh0{border-right:#e1e1e1 solid 1px;}
.fanye a:hover{ background:#2db1e1; color:#fff}
.fanye a.xyy{ width:64px;border-right:#e1e1e1 solid 1px; margin:0 5px;}
.fanye{ width:550px; margin:35px auto 15px;}
.fanye a.snh{ border:0; margin:0 0 0 4px;}
.fanye_bd{ width:22px; height:20px; text-align:center; border:0; border:#e1e1e1 solid 1px;}
.fanye a.tiaozhuan{ width:66px; height:22px; line-height:22px; text-align:center; background:#e9e9e9;}
.fanye a.tiaozhuan:hover{ background:#dedede; color:#707070}
.wya span{ color:#b1b1b1}
.wya{ margin:0 10px;}

.fanye a.yxz0{ background:#2db1e1; color:#fff}


.exit{ display:block; width:106px; height:32px; line-height:32px; text-align:center; color:#616161; font-weight:600; margin:12px 24px 0 0; border:#acb3b7 solid 1px;
 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8'); /* for IE */

background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e8e8e8)); /* for webkit browsers */

background: -moz-linear-gradient(top, #fafafa, #e8e8e8); /* for firefox 3.6+ */

}
:hover.exit{

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##d4d3d4', endColorstr='f1f1f1'); /* for IE */

background: -webkit-gradient(linear, left top, left bottom, from(#d4d3d4), to(#f1f1f1)); /* for webkit browsers */

background: -moz-linear-gradient(top, #d4d3d4, #f1f1f1); /* for firefox 3.6+ */

}

.form_cont1{ margin-top:10px;margin-bottom:10px;}

.textarea textarea{ border:0; padding:5px; width:275px;} 
.textarea{ border:#e3e3e3 solid 1px;}
.photo img{ width:250px; height:160px;}
.photo{ font-size:12px; margin-top:10px;}

.add{ width:120px; height:35px; background:#2898c1; display:block; text-align:center; line-height:35px; font-size:14px; font-weight:600; color:#fff; margin-top:25px;}

:hover.add{ background:#1f7da0;}
.checkb_font{ display: inline-block; vertical-align:middle; margin-right:20px;}
.checkbox0{ padding:3px 0 0 20px;}
.lf_font0{ height:25px; line-height:25px;}

.radio{ display:inline-block; vertical-align:middle; margin-right:5px;}

.bottom{ position: fixed; bottom:0; right:0; height:55px; width:100%; background:#bec4c7}

.fenlei p{ height:20px; line-height:20px;}
.fenlei{ margin:5px 0}

.yhlb0 table tr td{ text-align:left}
.yhlb0 table tr th{ text-align:left}

.fenlei p.zdhh{ height: auto}
.yhlb table tr td.zdhh0{ height:auto;line-height:20px; padding:5px}


.empty0{ text-align:center; height:195px;} 
.empty0 img{ padding:50px 0 5px 0;} 
.empty0_font{ font-size:12px;}

.caozuo a{ margin:0 4px;}
.caozuo a:hover{ color:#2db1e1}

.input0{ margin-right:10px;}
.input0 input{ width:40px;}

.tjjj{ margin-bottom:15px;}

.col{ color:rgba(255,0,4,1.00)}

ul.neirong { width:870px;}
ul.neirong li{ float:left; width:24%; text-align:center; border-right:#c8d4dc solid 1px; height:48px; color:#56420d; line-height:22px;}
ul.neirong{ padding-top:15px;}
ul.neirong li div{ margin-top:3px;}
ul.neirong li.no_bord{ border-right:0}
.gzsm0{ width:122px; height:44px; line-height:44px; text-align:center; display: inline-block; background:#2db1e1; color:#fff; margin-top:18px;}
:hover.gzsm0{background:#1f87ad;}
.red{ color:#e5120d; font-weight:600; margin:0 3px;}

/*股票账户*/
.state{ margin-top: 25px;}
.accountBtn{display: block;float: left;margin: 0 10px 0;width: 120px;height: 34px;line-height: 34px;text-align: center;box-shadow: 2px 2px #dfdfdf;}
.state .operator{background: green;color:#fff;}
.state .stopBtn{background: yellow;}
.state .squateBtn{background: red;color:#fff;}
.state .allBtn{background: white;}
.state .unpublished{background: blue;color:#fff;}

/*星星*/
.starsYqb img{width:12px;}




























