.anav{
	width:100px;
	margin-left:160px;
	}
.nh{
	line-height:22px;
}
.allbd{
	float:left;
	height:auto;
	position:relative;
}
.pptv{
	float:right;
	display:block;
	position: relative;
	height:24px;
	text-align:right;
	width:auto;
	line-height: 24px !important;
}
.gerenxl{
	position: absolute;
	right:12px;
	top:24px;
	z-index: 999;
	display:none;
	color:#555;
	width:250px;
	border:0.2px solid #C0C0C0;
}
#up,#down{
	cursor:pointer;
}
.grup{
	background:#eaeaea;
	height:90px;
}
.aim{
	display:block;
	width:auto;
	height:50px;
	float:left;
}
.aim img{
	display:block;
	width:50px;
	height:50px;
}
.grtxt{
	height:90px;
	line-height: 30px;
}
.grtxt p{
	position: relative;
	height:28px;
	color:#555;
	text-align:left;
}
.grta{
	width:200px;
	margin-left:70px;
}
.grta ul li{
	float:left;
	width:42px;
	height:16px;
	line-height:16px;
	text-align:center;
	margin-top:6px;
	border-right:1px solid burlywood;
}
.grta ul>li:last-child{
	border-right:none;
}
.grta a{
	font-size:11px;
	color:#555;
	margin-left:4px;
	margin-right:4px;
	text-align: center;
	height:16px;
	line-height:16px;
	}
.grmid{
	background:white;
}
.grmid ul>li{
	height:30px;
}
.grmid ul li a{
	display:block;
	margin-left:15px;
	text-align:left;
	color:#555;
	line-height:28px;
}
.grdw{
	background:#f60;
	height:35px;
	line-height:35px;
	border-top:1px solid #969696;
}

.navli{
	float:right;
}



.grdw a{
	display:block; 
	width:125px;
	height:35px;
	color:#fff;
	text-align:center;
	line-height:35px;
}
.grdw a:hover{
	color:#f60;
	background:white;
	border:2px solid #f60;
	/* line-height:34px; */
	/* display:block;
	background:#FF6600;
	color:white;
	text-align:center; */
}
.grdw>a:first-child{
	float:left;
	margin-left:0;
	margin-right:0;
}