@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
a, a:after, a:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  -moz-user-select: -moz-none;
}
input, textarea{ outline: none;line-height: normal; /* for non-ie */  　line-height: 22px\9; /* for ie */  }

body, article, section, h1, h2, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input {
    margin: 0;
    padding: 0;
}
a {
	color:#666666;
    cursor: pointer;
    text-decoration: none;
}
a img{ border:0;}
ul,li{
    list-style-type: none;
}
.fl{ float:left;}
.fr{ float:right;}
.clr{
	clear:both;
}
body {
    margin: 0;
    padding: 0;
	font-size:14px;
}

.top1{ height:34px; background:#fafafa; border-bottom:#e8e8e8 solid 1px; width:100%;}
.top1_cont{ width:1000px; margin:0 auto;}
.khydd{ background: url(../qihuo_images/icon.png) 0 0 no-repeat; width:10px; height:17px; display:inline-block; vertical-align: bottom; margin-right:5px;}
.top1_cont_lf a{ font-size:12px; height:17px; display:inline-block; margin-top:9px; width:88px;}
.top1_cont_lf a:hover{ color:#2db1e1}
.scbz{ background: url(../qihuo_images/icon.png) -10px 0 no-repeat;width:14px; vertical-align: text-top;}
.yop_nav ul li{ float:left; height:34px; line-height:34px}
.yop_nav ul li a{ display:inline-block; font-size:12px; color:#737373; text-align:center; width:93px}
.yop_nav ul li a span{ margin:0 0px 0 20px; display: inline-block}
.yop_nav ul li a:hover{ color:#2db1e1;}
.yop_nav ul li a:hover span{ color:#737373;}
.yop_nav ul li.xlcd a{ background:#fff; border:#e8e8e8 solid; border-width:0 1px; height:35px;}
.xlcd_cont{ background:#fff; border:#e8e8e8 solid; border-width:0 1px 1px 1px; }
.xxjt{ display:inline-blockl; background:url(../qihuo_images/icon.png) -24px 0 no-repeat; width:7px; height:5px; display:inline-block; vertical-align:middle; margin-left:5px;}
.yop_nav ul li.xzys a{ color:#2db1e1;}
.yop_nav ul li.xzys a span{ color:#737373;}


.top2{ height:83px; background:#fff; width:100%;}
.top2_cont{ width:1000px; margin:0 auto; padding-top:20px;}
.dlzc a{ display:inline-block; height:33px; width:80px; text-align:center;background:#2db1e1; line-height:33px; border:#e6e6e6 solid 1px; font-size:14px; color:#fff; margin-top:10px;}
.dlzc a.dl{ border-right:0; background:#fff;color:#2db1e1}
.dlzc a:hover{ text-decoration:underline;}
.nav{ height:54px; background:url(../qihuo_images/qihuo_07.png) 0 0 repeat-x; width:100%;}
.nav_cont{ width:1000px; margin:0 auto;}
.nav_cont ul li a{ font-size:18px; color:#fff; line-height:54px; height:54px; width:140px; font-weight:600; text-align:center; display:block}
.nav_cont ul li a:hover{ background:#2a96bd}
.nav_cont ul li.yxz3 a{ background:#2a96bd}

.nav_cont ul li{ float:left;}
.banner{ position:relative;}
.banner ul li a{ display:block; width:100%; height:400px;}
.banner ul li a.banner_01{ background:url(../qihuo_images/qihuo_09.png) center center no-repeat;}
.banner ul li a.banner_02{ background:url(../qihuo_images/qhds_02.png) center center no-repeat; height:432px;}

.banner_cont{height:350px; width:100%; position:absolute; left:0; top:0;}
.banner_cont_matter{ width:1000px; margin:0 auto;}
.kskq{ width:262px; height:45px; display: block; margin:-63px 0 0 153px; float:left;}
.tzze0{ width:255px; overflow:hidden; height:40px; line-height:40px; text-align:right; font-size:26px; color:#feda53; margin:50px 20px 0 0px}
.tzze{ width:255px; overflow:hidden; height:40px; line-height:40px; text-align:right; font-size:26px; color:#feda53; margin:140px 20px 0 0px}

.banner_bottom{ background:url(../qihuo_images/qihuo_11.png) 0 0 repeat-x; height:80px; width:100%}
.banner_bottom_cont{ width:1000px; margin:0 auto}
.matter{ width:100%;}
.matter_cont{ width:1000px; margin:0 auto 40px; background:#fff; padding-bottom:30px;}
.matter_cont_01{ margin:32px auto 58px;}
.matter_cont_01 ul li{width:297px; height:348px; float:left; margin-right:48px; border:#e4e4e4 solid 2px; position:relative;}
.matter_cont_01 ul li img{width:297px; height:348px;}
.matter_cont_01 ul li.zh{ margin-right:0}
.matter_cont_01 ul li:hover{ border-color:#bb0200; cursor: pointer}
.matter_cont_01 ul li:hover a{ background:url(../qihuo_images/qihuo_28.png) 0 0 no-repeat; color:#9d0b09;}

.matter_cont_01 ul li a{ display:block; text-align:center; line-height:40px; color:#ffeca7; font-weight:600; position:absolute; background:url(../qihuo_images/qihuo_30.png) 0 0 no-repeat; width:158px; height:40px; top:327px; left:70px; }
.matter_cont_01 ul li.xzys0{border-color:#bb0200; }
.matter_cont_01 ul li.xzys0 a{ background:url(../qihuo_images/qihuo_28.png) 0 0 no-repeat; color:#9d0b09; }

.hyxw{ width:700px; margin-bottom:38px;} 
.hyxw_title{ height:42px; width:700px; background:url(../qihuo_images/news_bg_03.jpg) 0 0 no-repeat;line-height:42px; color:#fff; font-weight:600}
.xb{ background:url(../qihuo_images/icon.png) -31px 0 no-repeat; width:8px; height:12px; display:inline-block; margin:0 10px 0 11px;}
ul.hyxw_cont li a span{ float:right; font-size:14px; margin-right:20px;}
ul.hyxw_cont li i{ margin-bottom:18px; background:url(../qihuo_images/icon.png) -39px 0 no-repeat; display:inline-block; width:6px; height:6px; margin:5px 10px 0 10px;}
ul.hyxw_cont li a{ font-size:14px; display:block; height:20px; overflow:hidden}
ul.hyxw_cont li{padding-top:15px;}
ul.hyxw_cont{ background:#f9f9f9; padding-bottom:15px;}
ul.hyxw_cont li a:hover{ color:#6e0201}

.hyxw0{ width:278px;}
.hyxw0 .hyxw_title{ height:42px; width:278px; background:url(../qihuo_images/news_bg_05.jpg) 0 0 no-repeat;}
.bottom{ width:100%; height:240px; background:#bdbdbd}
.bottom_cont{ width:1000px; margin:0 auto}
.bottom_cont ul{ float:left; margin:30px 98px 0 0;}
.bottom_cont ul li a{ font-size:14px; display:block; margin-bottom:18px; color:#000}
.bottom_cont ul li a:hover{ color:#fff}
.qgfwrx{ margin-top:60px;}
.qgfwrx p{ margin-bottom:10px}
.jgrz{ margin-top:30px;}
.jgrz p{ margin-bottom:15px; font-size:14px;}
.bottom_zdb{ background:#2db1e1; width:100%; height:47px; text-align:center; font-size:14px; color:#fff; line-height:47px;}
.mfzc_bg{ background:url(../qihuo_images/jbbg_02.jpg) 0 0 repeat-x; height:921px; width:100%;}
.mfzc_bg_cont{ width:680px; height:700px; background:#fff; margin:0 auto; position: relative;}
.yyzh{ font-size:14px; padding-top:45px; border-bottom:#2db1e1 solid 2px; padding-bottom:20px;}
.yyzh_cont{ font-size:14px;}
.yyzh_cont a{ color:#1988b0; margin-right:20px; font-size:14px;}
.yyzh_cont a:hover{ text-decoration:underline}
.yyzh_cont{ margin-top:20px;}
.mfzc_matter{ width:580px; margin:60px auto}
.mfzc_matter_title{ font-size:24px;}

.jdt{ margin: 27px auto 40px; width:571px;}
.wbk{ width:340px; height:38px; border:#dadada solid 1px;} 
.wbk input{ border:0; width:280px; padding-left:10px; margin-top:11px;} 
.yhm{ background:url(../qihuo_images/icon.png) -45px 0 no-repeat; width:16px; height:21px; display: inline-block; vertical-align:middle; margin:0 0px 0 10px;}
.biaodan_font{ font-size:14px; line-height:38px; margin-left:10px}
.biaodan{ margin-bottom:15px;}
.mima{ background:url(../qihuo_images/icon.png) -61px 0 no-repeat; width:17px; height:22px; display: inline-block; vertical-align:middle; margin:0 0px 0 10px;}
.next{ display:block; width:155px; height:37px; text-align:center; line-height:37px; color:#fff; background:#2db1e1; margin-top:35px; border:0; cursor:pointer; }
a:hover.next{ background:#2a96bd}

.xuankang{ display:inline-block; vertical-align:middle; margin-right:5px;}

.xuankang input[type=checkbox],
.xuankang input[type=radio]{
-webkit-appearance: none;
appearance: none;
width: 13px;
height: 13px;
margin: 0;
cursor: pointer;
vertical-align: bottom;
background: #fff;
border: 1px solid #acacac;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
top:-3px;
margin-right:10px;
}
.xuankang input[type=checkbox]:hover {
border-color: #c6c6c6;
-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}
.xuankang input[type=checkbox]:checked,
.xuankang input[type=radio]:checked {
background: #fff;
}
.xuankang input[type=checkbox]:checked::after {
content: url(../qihuo_images/gg_02.png) 0 0 no-repeat; width:10px; height:8px;
display: block;
position: absolute;
top: 2px;
right: 0px;
left: 1px;
}
.xuankang{ font-size:14px}

.sjh{ background:url(../qihuo_images/icon.png) -88px 0 no-repeat; width:14px; height:24px; display: inline-block; vertical-align:middle; margin:0 0px 0 10px;}
.hqyzm a{ background:#ff8125; width:164px; height:40px; color:#fff; line-height:40px; margin-left:10px; text-align:center; display: inline-block}
.wbk0{ width:165px}
.wbk0 input{ width:125px}
.mfzc_bot{ height:102px; width:100%;  position:absolute; bottom:0; background:#f6f6f6;padding-top:25px;}
.mfzc_bot1{ height:50px; width:100%; background:#f6f6f6; padding-top:25px; text-indent:50px; position:absolute; bottom:0;}

.mfzc_bot p{ color:#707070; margin-bottom:5px; font-size:14px; margin-left:55px;}
.zccg{ margin-left:15px;}

.jrgrzx{ width:180px; height:45px; line-height:45px; background:#2db1e1; margin:27px auto}

.mfzc_bot0{ height:206px; padding:0; margin:0}

.fucheng{ width:360px; margin:0 auto; padding-bottom:20px;}
.fucheng_title{ width:100%; height:40px; line-height:40px;color:#fff; background:#2db1e1}
.fucheng_title span{ margin-left:20px; font-size:14px; font-weight:600}
.web_fc{ width:260px; margin:15px auto}
.web_fc input{ width:210px;}

.load{ width:260px; height:34px; background:#2db1e1; display:block; margin:20px auto 10px; border:0; cursor:pointer; color:#fff; font-size:16px; font-weight:600; border-radius:2px}

:hover.load{ width:260px; height:34px; background:#1a89b2; display:block}
.dly a{ color:#700302; font-size:12px; margin:0 5px;}
.dly a:hover{ text-decoration:underline}

.dly{ margin-right:45px;}
.close{ background:url(../qihuo_images/icon.png) -102px 0 no-repeat; width:16px; height:17px; display:block; margin:10px;}
:hover.close{ background:url(../qihuo_images/icon.png) -120px 0 no-repeat; width:16px; height:17px; display:block; margin:10px;}

.close0{ background:url(../qihuo_images/icon.png) -481px 0 no-repeat; width:19px; height:19px; display:block; margin:10px;}
:hover.close0{ background:url(../qihuo_images/icon.png) -500px 0 no-repeat; width:19px; height:19px; display:block; margin:10px;}


.nav_ny{ background:#2db1e1}


.center{ width:1000px; margin:20px auto;}
.lf_nav{ width:170px;}
.lf_nav_title{ height:48px; background:#0a82ae; line-height:48px; color:#fff; font-weight:600; border-bottom:#ffc618 solid 2px; text-align:center}

.lf_nav_cont{ background:#f2f4f6; border:#dadfe3 solid 1px; border-top:0; padding-bottom:100px;}
.wdcpfa{ display:inline-block; background:url(../qihuo_images/icon.png) -137px 0 no-repeat; width:21px; height:21px; vertical-align: middle;
 margin:0 15px 0 7px;} 
.lf_nav_cont ul li.lf_nav_cont_title{ padding:5px 0}
.lf_nav_cont ul li.lf_nav_cont_title a{ font-weight:600;text-align:left}
.lf_nav_cont ul li{ height:36px;} 
.lf_nav_cont ul li a{ font-size:14px; color:#46402e;
 display:block; height:36px; line-height:36px; text-align:center; border-left:#f2f4f6 solid 5px;}
.lf_nav_cont ul li.xuanzhong a{background:#fff; border-left:#2db1e1 solid 5px; color:#2db1e1; font-weight:600 }
.lf_nav_cont ul li a:hover{ background:#fff; border-left:#2db1e1 solid 5px; color:#2db1e1; font-weight:600}
.wdzh{ background:url(../qihuo_images/icon.png) -158px 0 no-repeat;}
.qtfw{ background:url(../qihuo_images/icon.png) -179px 0 no-repeat;}

.back{ height:33px; line-height:33px; border:#67848f solid 1px; border-radius:15px; text-align:center; font-size:14px; color:#67848f; display:block; margin:12px;}
:hover.back{ border:#274b59 solid 1px;}
.rt_cont{ width:830px; background:#fff}
.rt_cont_title{ height:48px; line-height:48px; font-size:12px; color:#4f3939; text-indent:2em;border-bottom:#ffc618 solid 2px;}
.grzx_mk1{ padding:20px 34px;}
.portrait img{ width:85px; height:85px; border-radius:80px; border:#e6e5e6 solid 5px;}
.yhm_0{ font-size:14px; color:#353535; font-weight:600}
.aqdj{ width:95px; height:8px; border-radius:10px; background:#a2adb8; position:relative; display:inline-block; margin:0 5px 0 10px;}
.aqdj_cont{ position:absolute; top:0; left:0; height:8px; width:50%; background:#e30a07; border-radius:10px;}
.dj{ color:#e30a07; font-weight:600; margin-right:20px;}
.balance{ font-size:26px; color:#ff6600; font-weight:600; margin:0 10px;}
.top-up{ display:inline-block; width:96px; height:26px; line-height:26px; text-align:center; background:#fe7e00; color:#fff; margin-left:15px; border-radius:5px;}
:hover.top-up{ background:#af5e0e;}
.withdrawal{ display:inline-block; width:96px; height:26px; line-height:26px; text-align:center; background:#dfdfdf; color:#fff; margin-left:15px;border-radius:5px; color:#6b6b6b}
:hover.withdrawal{ background:#a7a7a7;}
.zhys{ background:url(../qihuo_images/icon.png) 0 0 no-repeat; display:inline-block; margin-right:10px;}
.mp{background:url(../qihuo_images/icon.png) -202px 0 no-repeat; width:22px; height:16px; vertical-align:sub;}
.mp_xz{background:url(../qihuo_images/icon.png) -202px -21px no-repeat; width:22px; height:16px; vertical-align:sub;}

.sj{background:url(../qihuo_images/icon.png) -225px 0 no-repeat; width:12px; height:19px; vertical-align:sub;}
.sj_xz{background:url(../qihuo_images/icon.png) -225px -21px no-repeat; width:12px; height:19px; vertical-align:sub;}

.yx{background:url(../qihuo_images/icon.png) -238px 0 no-repeat; width:20px; height:13px; vertical-align:sub;}
.yx_xz{background:url(../qihuo_images/icon.png) -238px -21px no-repeat; width:20px; height:13px; vertical-align:sub;}

.mm{background:url(../qihuo_images/icon.png) -259px 0 no-repeat; width:16px; height:17px; vertical-align:sub;}
.mm_xz{background:url(../qihuo_images/icon.png) -259px -21px no-repeat; width:16px; height:17px; vertical-align:sub;}

.money{ height:90px; border:#f0f0f0 solid; border-width:1px 0}
.money ul li{ width:24%; float:left; height:62px; margin:14px 0; border-right:1px solid #c7c7c7; text-align:center}
.money ul li.no_bord{ border:0}

.zhzc{ color:#4e3c00; font-weight:600; margin:12px 0 5px}
.zhzc_cont{ color:#be0200; font-weight:600; font-size:16px;}
.grglzh_tab{ border:#e0e0e0 solid 1px; font-size:12px; margin-top:10px; color:#555555}
.grglzh_tab tr td{ border-bottom:#e0e0e0 solid 1px;}

.pbsx{width:4px; height:22px; background:#f28610; display:inline-block; vertical-align:middle; margin-right:8px;}
.ny_bt{ margin:20px 20px 0;}

.ny_bt_cont{ color:#000; font-weight:700; display: inline-block}
.xq{ color:#0875b4; font-size:12px;}
:hover.xq{ text-decoration:underline}
.more{ font-size:12px; color:#07177c; margin-left:10px;}

:hover.more{ text-decoration:underline}
.gzsm{ color:#c00200; font-size:12px; text-decoration:underline; display: inline; height:14px;}
:hover.gzsm{ text-decoration: none}

.dxgs{ background:#e4e4e4; margin-bottom:30px;}
.dxgs ul li{ width:127px; height:37px; line-height:37px; text-align:center; float:left; margin:10px 0 0 10px; color:#fff}
.dxgs ul{ margin-left:10px;}
.dxgs ul li a{ display:block; color:#fff; background: url(../qihuo_images/bg00_05.png) 0 0 no-repeat; width:127px; height:37px; }
.dxgs ul li a:hover{background: url(../qihuo_images/bg00_050.png) 0 0 no-repeat; color:#2db1e1; font-weight:600;}
.dxgs ul li.yxz a{color:#2db1e1; font-weight:600; background: url(../qihuo_images/bg00_050.png) 0 0 no-repeat;}

.jt_0{  background: url(../qihuo_images/icon.png) -275px 0 no-repeat; display:inline-block; width:10px; height:5px; margin-left:5px; vertical-align:middle}
.jt_1{  background: url(../qihuo_images/icon.png) -275px -5px no-repeat; display:inline-block; width:10px; height:5px; margin-left:5px; vertical-align:middle}
.xq0{ margin-left:10px}
:hover.xq0{ text-decoration:none}
.zdtx{ background:#f3f3f3; padding:10px 20px; font-size:12px; line-height:22px;}

.select select{ width:180px; height:32px; line-height:32px; border:0; border:#d1d1d1 solid 1px; margin-right:10px;}

.form{ margin-bottom:15px;}
.form_font{ width:70px; text-align:right; line-height:32px; color:#2d2d2d}
.textarea textarea{ width:700px; height:150px; padding:5px;border:0; border:#d1d1d1 solid 1px;}
.tijiao{ width:141px; height:34px; text-align:center; line-height:34px; color:#fff; font-weight:600; background:none; background:#2db1e1; border:0; cursor:pointer; font-size:16px;}

:hover.tijiao{ width:141px; height:34px; text-align:center; line-height:34px; color:#fff; font-weight:600; background:none; background:#2a96bd; border:0; cursor:pointer}

.opinion{ border:#e1e1e1 solid 1px; width:700px; margin:30px 0 0 70px;}
.opinion_title{ background:#f1f1f1; border-bottom:#e1e1e1 solid 1px; height:35px; line-height:35px; font-size:12px;}
.opinion_title span{ margin:0 15px;}
.yjnr{ height:100px; width:319px; border-right:#e1e1e1 solid 1px; padding:5px 12px; line-height:20px; overflow:hidden; font-size:12px;}
.yjnr0{ height:100px; width:320px; padding:5px 12px; line-height:20px; overflow:hidden; font-size:12px;}

.smrz{ border:#f19149 1px dashed; background:#fdffed; border-radius:5px; height:85px; width:450px; margin:17px auto; color:#855b0b}
.smrz img{ margin:15px 45px 0 45px;}
.smrz_cont{ width:280px; overflow:hidden; font-size:12px; line-height:22px; margin-top:10px;}

.input{}
.input input{border:0px; padding:12px; border:#d1d1d1 solid 1px; width:250px; display:inline}

.cancel{ width:130px; height:34px; line-height:34px; text-align:center; background:#888888; display:inline-block; color:#fff; font-size:14px; font-weight:600; margin:0 5px; border-radius:2px}
:hover.cancel{background:#767676; }
.sure{ width:130px; height:34px; line-height:34px; text-align:center; background:#2db1e1; display:inline-block; color:#fff; font-size:14px; font-weight:600; margin:0 5px; border-radius:2px;}
:hover.sure{background:#2a96bd; }

.lh{ line-height:40px;}
.marg{ padding-left:80px;}
.input0 input{ padding:7px;}
.bdtz{ padding-left:20px;}
.bdtz .select select{ width:140px; margin-right:20px;}

.bdtz .input{ width:600px}
.radio{}
.radio input{ background:none; border:0; width:15px; height:15px; display:inline-block; vertical-align:bottom; margin-right:5px}
.radio span{ vertical-align:middle; display:inline-block; margin-right:14px;}
.aqxx{ border-bottom:#cdcdcd solid 1px; padding:20px 25px; margin:0 20px; line-height:30px;}
.smrz0{ background-position:-286px 0; width:39px; height:27px; vertical-align:middle; margin-right:20px;}

.sczp{ color:#da0401; display:inline-block;}
.bdsj{ background-position:-325px 0; width:20px; height:30px; vertical-align:middle; margin:0 28px 0 8px;}
.bdyx{ background-position:-346px 0; width:34px; height:22px; vertical-align:middle; margin:0 26px 0 0px;}
.dlmm{ background-position:-381px 0; width:28px; height:29px; vertical-align:middle; margin:0 26px 0 5px;}
.select0 select{ width:100px; height:26px; margin-left:10px;}

.query{ width:60px; height:26px; background:#d8d8d8; line-height:26px; text-align:center; display:inline-block; margin-left:10px;}

.zichan{ border-bottom:#f0f0f0 solid 1px; margin:0 20px 20px; padding:0 0 12px}
.zichan ul li{ width:160px; height:70px; margin:0 18px; text-align:center; font-weight:600;  float:left; line-height:22px; color:#f28608; border-right:#c7c7c7 solid 1px;}

.zhzc0{ color:#000; margin-top:13px;}

.zichan ul li.col_01{ }
.zichan ul li.col_02{}
.zichan ul li.col_03{}
.zichan ul li.col_04{ border:0}

.marg0 .lh{ width:100px;}
.marg0{ padding-left:40px; }
.hqyzm0{ background:url(../qihuo_images/hqyzm_03.jpg) 0 0 no-repeat; display:inline-block; width:122px; height:38px; text-align:center; line-height:38px;}
:hover.hqyzm0{ background:url(../qihuo_images/hqyzm0_03.jpg) 0 0 no-repeat; display:inline-block; width:122px; height:38px;}
.yzm input{ width:115px; margin-right:10px;}
.czp{ margin:20px 0 0 20px;}
.czp a{ display:inline-block; vertical-align:middle}

.smwz{ background:url(../qihuo_images/sczp_07.jpg) 0 0 no-repeat; width:533px; height:177px; margin:20px 0 0 20px;}
.xzczyh{ margin:30px 0 0 40px;}
.xzczyh ul li{ float:left; margin:0 30px 20px 0;}
.xzczyh ul li input.xz0{ vertical-align:middle; display:inline-block; margin-right:5px;}
.xzczyh ul li a{ border:#cccccc solid 1px; display: inline-block; vertical-align:middle}
.xzczyh ul li a img{ width:170px; height:52px;}
.xzczyh ul li a:hover{ border:#2db1e1 solid 1px;}
.yxz0{ background:url(../qihuo_images/icon.png) -448px 0 no-repeat; display:inline-block; width:20px; height:22px; position:absolute; bottom:0; right:0;}
.xzczyh ul li.xzl{ position:relative;}
.xzczyh ul li.xzl a{border:#2db1e1 solid 1px;}

.radio span.zhye{ color:#e30b07; display:inline-block; line-height:32px; vertical-align:middle; margin-right:5px}

.czje .form_font{ width:100px;}
.czje{ padding:0 0 0px 20px;}
.sctp img{ width:150px; height:100px; vertical-align:top}
.zhuanzhang table{ border:#d4d4d4 solid; border-width:1px 0 0 1px; margin:20px 0 0 30px;}
.zhuanzhang table tr td{ border:#d4d4d4 solid; border-width:0 1px 1px 0; padding:5px;}
.zhuanzhang table tr td p{ line-height:20px; padding-left:10px;}
.fgkf{ margin:40px 0 0 30px;}
.fsyzm{ display:inline-block; width:118px; height:32px; line-height:32px; text-align:center; background:#d7d7d7; margin-left:30px;}
.wzys{ line-height:25px; margin:10px 10px 20px 23px;}
.fzlj{ background:#2db1e1; width:112px; height:32px; line-height:32px; font-weight:normal; font-size:14px;}
:hover.fzlj{ background:2a96bd;}

.fzljbd{ height:30px; border:#d1d1d1 solid 1px; background:#fafafa; width:350px; line-height:30px; padding-left:5px; color:#4f4f4f; margin-right:10px;}

.tgxq{ border-bottom:#981904 solid 1px; margin:0 20px; padding:0 0 10px}
.tgxq table tr td{ width:25%; text-align:center; padding:0 0 10px; }

.tgxq0{ width:400px; margin:30px 30px 15px}
.tgxq0 p{ line-height:22px; margin:10px 0 30px}

.tgyjb{ width:262px; height:344px; background:#f28208}
.tgyjb_title{ height:42px; line-height:42px; text-align:center; color:#fffc25; font-size:16px; font-weight:600}
.tgyjb_cont{ background:#fff6d1; margin:2px; width:258px; height:298px; overflow:hidden;}
.pm{ width:20px; height:20px; border-radius:20px; background:#f28208; text-align:center; line-height:20px; color:#fffc25; font-weight:600; display:inline-block; margin:0 10px 0 12px;}
.tgyjb_cont ul li{ margin:0 10px 15px 10px}
.tgyjb_cont ul{ margin:15px 0}
#teshu{ color:#fffc25}
.jq{ color:#000}
.tgyjb{ margin:60px 0 0 40px;}


.banner1 ul li a.banner_01{ background:url(../qihuo_images/xbanner_03.jpg) center center no-repeat}
.banner1 ul li a{ height:351px;}
.banner1 .tzze{ margin:-179px 79px 0 0px; font-weight:700}
.banner1 .tzze0{ font-weight:700}
.nav0{ background:#2db1e1}
.dlzc0 a{ background:#2db1e1}
.dlzc0 a.dl{ color:#2db1e1}
.banner_bottom0{ background:#e7eff4}
.red{ color:#e5120d; font-weight:600; margin:0 3px;}
ul.neirong { width:870px;}
ul.neirong li{ float:left; width:24%; text-align:center; border-right:#c8d4dc solid 1px; height:48px; color:#56420d; line-height:22px;}
ul.neirong{ padding-top:15px;}
ul.neirong li div{ margin-top:3px;}
ul.neirong li.no_bord{ border-right:0}
.gzsm0{ width:122px; height:44px; line-height:44px; text-align:center; display: inline-block; background:#2db1e1; color:#fff; margin-top:18px;}
:hover.gzsm0{background:#1f87ad;}

.ny_bt0 .pbsx{ background:#f28608}
.ny_bt0 .ny_bt_cont{ font-size:22px; font-weight:600; display:inline-block; line-height:22px; vertical-align:middle}

.sqspzj{}
.jine{ width:407px; height:50px; border:#f2870d solid 1px; margin:20px 0 0 20px;}
.jine input{ border:0; width:350px; margin:18px 10px 0 10px; text-align: center}
.sqzjxz ul li{ width:119px; height:110px; float:left;position:relative; margin:0 25px 25px 0; }
.sqzjxz ul li a{ display:block; border:#cbcbcb solid 2px; text-align:center; line-height:108px; color:#f28608; font-size:32px; }
.sqzjxz ul li a:hover{ border-color:#2bb2e2}
.sqzjxz ul{ margin:20px 0 0 20px;}
.sqzjxz ul li.no_marg{ margin-right:0}
.sqzjxz ul li.yxz1 a{ border-color:#2bb2e2}
.xzfh{ background:url(../qihuo_images/icon.png) -448px 0 no-repeat; width:20px; height:22px; position:absolute; bottom:0; right:0}

.qrcpgz{ width:407px; margin:20px 0 0 0}
.qrcpgz .zhuanzhang table{ margin-left:20px;}
.qrcpgz .zhuanzhang table tr td{ padding:0; padding-left:10px;}
.wenti{ display:inline-block; background:url(../qihuo_images/icon.png) -468px 0 no-repeat; width:13px; height:13px;}

.bzj{ font-size:26px; color:#f28407;}
.bzj0{ color:#f15354}
.zh0{ font-size:22px; color:#000}            
.col_ft{ font-size:12px; color:#f28407}

.ys{ text-align:center; padding-top:30px;}
.sqspzj{ width:432px; margin:20px 20px 0 50px;}
.jz{ width:265px; margin:10px 0 10px 380px;}
.jkxy{ color:#f28407; text-decoration:underline}


.wycp{ width:260px; height:42px; text-align:center; line-height:42px; background:#2db1e1; font-weight:600; color:#fff; display:block; margin:20px auto 50px; border-radius:2px;}

:hover.wycp{ background:#2a96bd
;}

.ddwdesc ul li{ float:left; width:33.3%; margin-bottom:25px; font-size:12px;}
.ddwdesc ul li img{ vertical-align: middle; margin-right:5px;}
.ddwdesc{ width:810px; margin:0 auto}
.ddwdetail{ color:#676767; line-height:24px; width:810px; margin:20px 0 0 100px;}
.ddwdetail h3{ font-size:16px;}

.fsgkf{ width:163px; height:43px; line-height:43px; text-align:center; background:#f8f8f5; border:#d1d1d1 solid 1px; border-radius:3px; display:block; margin-top:15px;} 
.fgkf_fl{ width:360px; line-height:22px; margin-top:20px;}

.qrxx{ background:#f5f5f5; padding:10px 0; margin:20px;}
.qrxx table tr td{ height:30px; line-height:30px;}

.fuzhi{ color:#0a82ae;}
:hover.fuzhi{ text-decoration:underline; margin-left:5px;}
.qrxx0{ background:none}

.xgje{ color:#c20300; margin-left:10px; text-decoration:underline}
:hover.xgje{  text-decoration: none}
.sys{ margin:30px 30px 0 90px;}
.sys_evm img{ width:174px; height:174px; border:14px solid #fff}
.sys_evm{border:1px solid #bfbfbf; width:202px; margin:20px 0 0 10px;}

.banner_evm{ margin:188px 0 0 18px;}
.banner_evm img{ width:120px; height:120px; border:#fff solid 3px;}

.qrcpgz0{ margin-left:50px; width:430px}
.qrcpgz1{ margin-left:20px; width:430px}

.zfje{ width:408px; height:100px; border:#ee3132 solid 1px; margin-left:20px; text-align:center; line-height:100px;}

.zfje0{ color:#643500; font-size:18px;}
.zfje1{ color:#f28407; font-size:32px;}

.smwz0{ padding:8px 12px; text-align:center; line-height:20px; border:#f28608 solid 1px; color:#a15802; font-size:12px; width:835px; background:#fff3e6; margin:0px auto 20px}
.zhye0{ font-size:16px; color:#5f3504; font-weight:600;}
.zhye1{ font-size:30px; color:#f28608; }

.xzfje{ text-align:center;}
.zhzb_cont{width:998px; border:#e4e4e4 solid 1px; background:#fff; margin:0 auto;}
.zhzb{background:#f2f2f2; padding:25px 0;}
.zhzb_cont_lf{ width:685px; border-right:#e4e4e4 solid 1px; overflow:hidden;}
.big_title{ margin:31px 38px; font-size:22px; font-weight:600}
.dh{ font-size:16px;margin:31px 38px;font-weight:600}

.zcpzj_num{ color:#ea811b; font-size:36px; font-family:"微软雅黑"}
.yuan{ color:#ea811b; font-size:22px;}
.zcpzj{ font-size:16px; font-weight:600; color:#037ba7; font-family:"宋体"; margin-top:5px; display: inline-block;}
.equal{ font-size:48px; font-weight:600;  font-family:"微软雅黑"}
.add{ margin-right:10px;font-size:48px; font-weight:600;font-family:"微软雅黑" }
.rpfa{ width:610px; margin:10px auto}

.a1{ color:#595959; width:160px; text-align:right; display: inline-block}
.a2{ color:#000;}
.rpfa0 table tr td{ border-bottom:#e4e4e4 solid 1px; height:52px; line-height:52px;}
.rpfa0{ margin:50px 20px;}
.xyfb{ color:#0b7aa2; font-weight:600; font-family:"宋体"; margin:30px 25px 25px; display: inline-block;}
.zhzbz{ display:block; width:270px; height:65px; text-align:center; line-height:65px; font-size:24px; color:#c93c24; font-size:24px; background:#ececec; margin:0 auto; font-weight:600}
.zhzb_cont_rt{ width:312px; }
.zhcz_title{ width:1000px; margin:20px auto 0;}
.zhcz_title ul li{ text-align:center; float:left; width:120px; height:35px; text-align:center; line-height:35px;margin-right:10px; background:#e0e0e0;  border:#e4e4e4 solid 1px; margin-bottom:-1px; font-weight:600;}
.zhcz_title ul li a{ display:block;}
.zhcz_title ul li:hover{background:#fff; border-bottom:#fff solid 1px; color:#0b7aa2 }
.zhcz_title ul li a:hover{ color:#0b7aa2}
.zujl{ height:200px; line-height:200px; text-align:center}

.zhcz_title ul li.yxz2 a{ color:#0b7aa2;background:#fff; border-bottom:#fff solid 1px; color:#0b7aa2}

.xcfxsj{ font-size:14px; font-weight:normal}

.zhzbz0{ line-height:normal}
.zbz{ padding:10px 0 2px; font-size:20px;}

.sjtr{ border:#ececec solid 1px; border-top:0; width:268px; height:62px; line-height:62px; text-align:center; margin:0 auto}
.sjtr_0{ color:#747474; font-weight:600;}
.sjtr_1{ color:#343434; font-weight:600; font-size:26px; margin-right:4px;}

.ckht a{ color:#06739a; text-decoration:underline; margin:0 21px}
.ckht{ text-align:center; margin:22px 0}
.ckht a:hover{ text-decoration: none}

.pl a{ width:125px; height:42px; text-align:center; line-height:42px; background:#47a3d2; display:block; float:left; color:#fff; font-weight:600; margin:7px; border-radius:3px;}
.pl a:hover{ background:#2a79a2}
.pl{ width:278px; margin:0 auto}

.xzjyrj{ text-decoration:underline; color:#ea811b; font-weight:600; display:block; width:100%; text-align:center; margin:15px 0 0}
:hover.xzjyrj{ text-decoration:none}


.tzyl{ background: url(../qihuo_images/img_03.png) 0 0 no-repeat; background-size:185px 96px; width:185px; height:96px; margin:85px auto 0; line-height:130px; text-align:center}

.tzyl_num{ font-weight:600; color:#852f21; font-size:36px; font-family:"微软雅黑"}
.tzyl_yuan{ font-weight:600; color:#852f21; font-size:18px; font-family:"微软雅黑"}

.tzks{ background: url(../qihuo_images/img_05.png) 0 0 no-repeat; background-size:185px 96px; width:185px; height:96px; margin:85px auto 0; line-height:130px; text-align:center}

.tzks_num{ font-weight:600; color:#10660c; font-size:36px; font-family:"微软雅黑"}
.tzks_yuan{ font-weight:600; color:#10660c; font-size:18px; font-family:"微软雅黑"}

.fucheng0{ border: rgba(0,0,0,0.1) solid 6px; border-radius:5px;}
.tqlr{ width:215px;}
.tqlr input{ width:180px;}
.lh0{ line-height:42px;}

.sure0{ width:193px; height:42px; line-height:42px; text-align:center; background:#ea811b; display:block; color:#fff; font-size:14px; font-weight:600; margin:0 auto; border-radius:2px;}
:hover.sure0{background:#c96e16; }

.ktqlr{ text-align:center; margin:20px 0;}
.ktqlr .b2{ color:#ea811b; font-size:30px; font-weight:600; font-family:"微软雅黑"}

.zhuyi_0 p.zhuyi{ color:#dd1b1b; font-weight:600; margin-bottom:5px;}
.zhuyi_0 p{ color:#636363; line-height:22px;}
.zhuyi_0{ margin:40px 20px 0 ;}

.queren{ width:150px; height:42px; line-height:42px; text-align:center; background:#ea811b; display: inline-block; color:#fff; font-size:14px; font-weight:600; margin:0 auto; border-radius:2px; margin:0 15px;}
:hover.queren{background:#c96e16; }

.quxiao{ width:150px; height:42px; line-height:42px; text-align:center; background:#878787; display: inline-block; color:#fff; font-size:14px; font-weight:600; margin:0 auto; border-radius:2px; margin:0 15px;}
:hover.quxiao{background:#4e4e4e; }


.select1 select{ height:41px; width:300px;}


.zdtx0{ background:#fff}

.bmrs{ position:absolute; bottom:0; left:0; width:100%;}
.bmrs_cent{ width:1000px; margin:0 auto;}
.bmrs_cont{ width:495px; height:54px; background:url(../qihuo_images/tmd_07.png) 0 0 repeat; color:#fff; font-size:20px; font-weight:600; line-height:54px; text-align:center; position:relative;}
.bmrs_cont i{ color:#ffc514; font-size:22px;}
.xjb{ background:url(../qihuo_images/jb_07.png) 0 0 no-repeat; width:68px; height:27px; background-size:68px 27px; position:absolute; bottom:-18px; left:218px;}


.lct{ padding:30px 0 70px; text-align:center; }
.qhyl{ text-align:center;}

.first{ background:url(../qihuo_images/qhds_13.png) 0 0 no-repeat; background-size:233px 233px; width:233px; height:233px; text-align:center; margin:0 33px;}
.second{ background:url(../qihuo_images/qhds_15.png) 0 0 no-repeat; background-size:233px 233px; width:233px; height:233px; text-align:center; margin:0 33px;}
.third{ background:url(../qihuo_images/qhds_17.png) 0 0 no-repeat; background-size:233px 233px; width:233px; height:233px; text-align:center; margin:0 33px;}

.award{ color:#e53d0f; font-size:46px; font-weight:600; font-family:"微软雅黑"; padding-top:120px;}
.award .symbol{ color:#ff8564; font-size:24px; font-weight:600;}
.xjjl{ color:#e53d0f; font-weight:600}
.second{}
.mingci{ width:897px; margin:0 auto; padding:40px 0 50px}

.ylph{ width:895px; margin:0 auto; background:#f0f5f9; border:#d8e1ea solid 1px;}

.zzcy{ background: url(../qihuo_images/qhds_27.png) 0 0 no-repeat; background-size:544px 78px; width:544px; height:78px; line-height:58px; margin:18px 25px;}
.zs{ color:#994100; font-weight:600; font-size:16px; display:inline-block; margin-bottom:10px; margin:0 20px; height:60px; line-height:60px;}
.cs{ color:#ff8125; font-size:38px; font-weight:600; display:inline-block; vertical-align:middle; width:100px; text-align:center}
.hs{ width:215px; display: block; line-height:20px; color:#6d6f70; vertical-align:middle; margin:12px 5px 0 0;}
.hs0{ margin-top:20px;}
.guize{ color:#34495e; text-align:center;}
.dhhm{ color:#337cc5;}
.wycy{ width:260px; height:43px; line-height:43px; margin:15px 0 22px; margin-left:165px}
.phb{ width:300px; height:560px; background:url(../qihuo_images/phb_03.png) 0 0 no-repeat;}
.yl_title{ color:#ffd535; font-weight:600; line-height:47px; margin-left:25px;}
.yl_title span{ color:#ffeca4;}
.phb_cont{ background:none; color:#fff; font-weight:600; width:280px; height:225px}
.phb_cont ul li{ margin:20px 0 23px 10px;}
.pm0{ color:#fff; background:#7a8d9e}
.dym{ background:#fd5b58}

.yop_nav ul li.xlcd .xlcd_cont .cz{ width:54px; height:22px; text-align:center; line-height:22px; background:#c2c2c2; color:#fff; display:inline-block; border-radius:5px; margin-left:15px;}
.yop_nav ul li.xlcd .xlcd_cont .zhye2{ font-size:12px;}
.yop_nav ul li.xlcd .xlcd_cont .wdl{ font-weight:600; color:#737373}
.yop_nav ul li.xlcd .xlcd_cont .xlxx a{ border: none; display: inline-block; width:70px; height:20px;}
.yop_nav ul li.xlcd .xlcd_cont .xlxx{height:22px; line-height:20px; padding-bottom:8px;}
.yop_nav ul li.xlcd .xlcd_cont .xlxx span{ color:#cccccc}
.yop_nav ul li.xlcd .xlcd_cont .zhye3{ padding:5px 0 0 10px;}

.yop_nav ul li.xlcd .xlcd_cont{ position:absolute; left:0; width:207px; top:35px; z-index:9998}
.yop_nav ul li.xlcd{ position:relative; z-index:9999}

.yop_nav ul li.xlcd .xlcd_cont .zhye3 .wdl{ color:#d12616;}
.yop_nav ul li.xlcd .xlcd_cont .zhye3 .cz{ background:#d12616}

.xszd_nav{ height:62px; background:#2a96bd; width:1000px; margin-top:20px;}
.xszd_nav .xszd_nav_cont{ height:56px; width:1000px;}
.xszd_nav .xszd_nav_cont ul li{ float:left; width:90px;height:56px; line-height:56px; text-align:center; margin-left:30px;}
.xszd_nav .xszd_nav_cont ul li.yxz4 a{  border-bottom-color:#fff; color:#fff;}

.xszd_nav ul li a{ display: block; color:#bbedff; font-size:18px; border-bottom:#2a96bd solid 6px; font-weight:600; font-family:"微软雅黑";}
.xszd_nav ul li a:hover{ border-bottom-color:#fff; color:#fff;}

.lx{ background:url(../qihuo_images/lx_03.png) 0 0 no-repeat; background-size:21px 21px; display: inline-block; padding-left:30px; margin:40px 40px 0 10px; width:920px;}
.xs_title{ color:#f28608; padding-bottom:20px;}
.jc{ padding-bottom:20px; display:block}
.lx p{ line-height:24px;}

.zqjr{ color:#2a96bd; font-weight:600; text-decoration:underline}
:hover.zqjr{  text-decoration: none}

.lx0{ background-position:0 25px}
.lct0{ padding-bottom:35px;}
.gywm{ padding-bottom:30px;}
.gywm ul li{ width:25%;  float:left;}
.gywm ul li img{ width:205px; height:133px;}

.sjpm{ position:absolute; top:30px; left:169px; width:80px; height:24px; line-height:24px; text-align:center; color:#fff; overflow:hidden; font-weight:600}
.lct_pos{ position:relative;}
.sjpm0{  position:absolute; top:30px; left:462px; width:80px; height:24px; line-height:24px; text-align:center; color:#fff; overflow:hidden; font-weight:600}
.sjpm1{ position:absolute; top:30px; left:752px; width:80px; height:24px; line-height:24px; text-align:center; color:#fff; overflow:hidden; font-weight:600}

.zx_title{ background:url(../qihuo_images/111_03.png) 0 28px no-repeat; background-size:842px 3px; width:842px; margin:0 auto 15px; font-size:22px; padding-bottom:10px; text-indent:6px; margin-top:40px; font-weight:600}

.rpfa1{width:645px; margin:0 auto}
.ycgl{ width:840px; height:36px; line-height:36px; background:#fff3e6; border:#f28608 solid 1px; text-align:center; color:#a15802; margin:60px auto 40px;}


.sure1{ margin:0 20px;}
.cancel1{ margin:0 20px;}

.zhuce_tbl table tr td{ padding-top:20px;}

.rt_cont{ min-height:669px;}

.xzczyh ul li.yldz a{ width:170px; height:52px;}
.xzczyh ul li.yldz a img{ width:160px; height:auto; padding:8px 0 0 5px;}

.lx1 p{ text-indent:28px;}






































